<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Layout}">
    <head>
        <title th:text="${confirmTitle}"></title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container">
                <h3>Paiement de la commande</h3>
                <div class="row">
                    <div class="col-md-4 mx-auto mt-5 text-center">

                        <p th:if="${paiementOk}" >
                            Paiement Accepté
                        </p>

                        <p th:unless="${paiementOk}">
                            Le paiement n'a pas abouti
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>