<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Layout}">
    <head>
        <title th:text="${productTitle}"></title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container">
                <h3>Produit - Fiche détaillée</h3>
                <div class="row">
                    <div class="col-md-4 mx-auto mt-5 text-center">

                        <img th:src="${produit.image}" class="card-img-top"/>
                        <p th:text="${produit.titre}" class="font-weight-bold"></p>
                        <p th:text="${produit.description}"></p>
                        <p>
                            <a th:href="@{|/commander-produit/${produit.id}/${produit.prix}|}"  class="btn btn-primary">COMMANDER</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>