<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Layout}">
    <head>
        <title th:text="${paiementTitle}"></title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container">
                <h3>Paiement de la commande</h3>
                <div class="row">
                    <div class="col-md-4 mx-auto mt-5 text-center">
                        <p>
                            Ici l'utilisateur sélectionne en temps normal un moyen de paiement et entre les informations de sa carte bancaire.<br/>
                            Nous allons éviter d'ajouter les formulaires nécessaireS afin de garder l'application la plus basique et simple possible pour la suite.<br/>
                            Si vous vous sentez à l'aise, vous pouvez créer un formulaire pour accepter le numéro de la CB, que vous traiterez dans le contrôleur grâce à
                            un <i>PostMapping</i>.
                        </p>

                        <!-- On passe l'id de la commande ET le montant de celle-ci afin que le contrôleur ait les informations nécessaires pour faire appel au microservice de paiement -->
                        <p>
                            <a th:href="@{|/payer-commande/${commande.id}/${montant}|}" class="btn btn-primary">Payer Ma Commande</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>