<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Layout}">
    <head>
        <title th:text="${produitsTitle}"></title>
    </head>
    <body>
    <div layout:fragment="content">
        <div class="container">
            <h3>Produits</h3>
            <div class="row">
                <div th:each="produit : ${produits}" class="col-md-4 my-1">
                    <a th:href="@{|/details-produit/${produit.id}|}" >
                        <img th:src="${produit.image}"  class="card-img-top" />
                        <p th:text= "${produit.titre}"></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>